LeadID,Date,Name,Mobile,Email,PropertyType,Purpose,Locality,City,Budget,Visit
L1,2026-01-01,Portal Buyer,+91 90000 00016,portal.buyer@example.com,Apartment,Buy,Goregaon West,Mumbai,20000000,Yes
L2,2026-01-02,Portal Tenant,+91 90000 00017,portal.tenant@example.com,Apartment,Rent,Andheri West,Mumbai,100000,No
